<div class="">
  <h1>Categories List</h1>
  <table border="1">
    <th>Name</th>
    <th></th>
    <% @categories.each do |cat| %>
      <tr>
        <td><%= link_to(cat.name, dashboard_category_path(cat)) %></td>
        <td><%= link_to("Edit", edit_dashboard_category_path(cat)) %></td>
      </tr>
    <% end %>
  </table>
</div>
