<div class="container">
<img src="https://s3.amazonaws.com/store_engine/paid_big_upper_w_logo.png" style="position: absolute">
</div>

<div class="container" id="thanks-box">
  <h2 id="thanks">Thanks, you paid <strong><%= number_to_currency(@order.subtotal/100.00) %></strong>!</h2>
  <ul style="margin-left: 60px; ">
    <% @order.line_items.each_with_index do |line_item, i| %>
      <li>Enjoy <%= line_item.quantity %> <%= link_to line_item.product.title, product_path(line_item.product) %></li>
    <% end %>
  </ul>
  <br/>
</div>
</br>
<p id="continue-shopping">
  <%= link_to "Continue Shopping", root_path, class: "btn btn-danger"%>
</p>
