<h2>Thanks, you paid <strong><%= number_to_currency(@order.subtotal/100.00) %></strong>!</h2>

<ul>
  <% @order.line_items.each_with_index do |line_item, i| %>
    <li>Enjoy <%= line_item.quantity %> <%= link_to line_item.product.title, product_path(line_item.product) %></li>
  <% end %>
</ul>
