/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html,body {
    height: 100%
}

#big_box {
    height: 330px;
    width: 900px;
    /*border: solid 1px;*/
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #e2e2e2;
    border-radius: 6px;
}

#inner_box {
    height: 300px;
    width: 280px;
    margin: 5px;
    float: left;
    background-color: #ffffff; 
    border-radius: 6px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    line-height: 250px;
}

#inner_box img {
    vertical-align: middle;
    padding-left: 20px;
   /* max-width: 100%;
    max-height: 100%;*/
    display: inline-block;
    left: 50%;
    top: 50%;
}

#bottom_inner_box {
    height: 232px;
    width: 200px;
    margin: 5px;
    float: left;
    background-color: #ffffff; 
    border-radius: 6px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    line-height: 200px;
}

#bottom_inner_box img {
    vertical-align: middle;
    display: inline-block;
    left: 50%;
    top: 50%;
}


#lander_main_3_pan_content {
    height: 330px;
    width: 900px;
}


#speech-input-field {
    width: 400px;
    height: 20px;
    padding: 10px 15px;
    font-size: 90%;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: 0;
}

  #landing_3_panel_item img {
    display: inline;
    margin-left: 45px;
    margin-right: 45px;
    /*border: solid 1px;*/
  }

   #landing_3_panel_item {
    display: inline;
    width: 105px;
    height: 200px;
  }

    #panel3_item_name {
        text-align: center;
        height: 50px;
        width: 278px;
        padding-top: 25px;
        padding-right: 5px;
        line-height: 30px;
        vertical-align: middle;
        position: absolute;
        background: none repeat scroll 0 0 rgba(0,0,0,0.5);
        /*left: 0;*/
        color: #fff;
        font-family: helvetica;
        font-size: 25px;
        font-weight: bold;
        z-index:1;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        bottom: 0;
    }

    #panel4_item_name {
        text-align: center;
        height: 30px;
        width: 200px;
        padding-top: 15px;
        padding-right: 5px;
        line-height: 20px;
        vertical-align: middle;
        position: absolute;
        background: none repeat scroll 0 0 rgba(0,0,0,0.5);
        /*left: 0;*/
        color: #fff;
        font-family: helvetica;
        font-size: 20px;
        z-index:1;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        bottom: 0;
        text-decoration: none;
    }

    #sale_ribbon {
        position: absolute;
        z-index:1;
    }

#lander_middle_marketing {
    height: 150px;
    width: 920px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lander_bottom_big_box {
    height: 620px;
    width: 920px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 12px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #eeeeee;
    border-radius: 6px;
}

#lander_top_8 {
    margin-bottom: 20px;
    margin-left: 20px;
}

#lander_bottom_8 {
    margin-top: 20px;
    margin-left: 20px;
}

#lander_bottom_copy {
    height: 75px;
    width: 875px;
    margin-right: 1500px;
    /*border: solid 1px;*/
    /*margin: 0 auto;*/
 }

/* .footer
{
  position: relative;
  margin-top: -150px;  negative value of footer height 
  height: 150px;
  clear:both;
  padding-top:20px;
  color:#fff;
  background: #398bb0;
}*/

.footer-hcd {
    height: 140px;
    width: auto;
    background: #398bb0;
    text-align: center;
    clear: both;
    line-height: normal;
    margin-top: 30px;
    position: relative;

} 

.footer-hcd img {
    float: left;
    margin-top: 20px;
} 

#footer-div {
    height: 140px;
    width: 900px;
    margin: 0 auto;
}

#footer-segment {
    height: 10px;
    width: 320px;
    margin-top: 5px auto;
    border-right: dashed 1px;
    border-color: white;
    display: inline-block;
}

#footer-segment-no-border {
    height: 130px;
    width: 320px;
    margin-top: 5px auto;
    display: inline-block;
}
#footer-segment-no-border li{

    margin-top: 5px auto;
    display: inline-block;
    border: solid 1px;
}

#footer-segment-logo {
    height: 130px;
    width: 200px;
    margin-top: 5px auto;
    display: inline-block;
}

#footer-segment-no-border ul {
list-style-image:url('sqpurple.gif');
}

/************************ Corner Ribbon CSS ************************/


.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

#left {
    float: left;
}
#right{
    float: right;
}
#center {
    margin-left: auto;
    margin-right: auto;
}

/************** FORM *****************/

#search-bar {
    width: 650px;
    margin-left: 300px;
    margin-right: auto;
}

#logo {
    padding-top: 8px;
    margin-left: 60px;
}

#nav-menu-items {
    margin-right: 30px;
}
#product-title-show {
  margin-right: 30px;
  width: 500px;
  word-wrap: break-word;

}
#product_big_box {
    height: 685px;
    width: 980px;
    border: solid 1px;
    badding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    background-color: #f5f5f5;
    border-radius: 6px;
}
#product-bullets {
  width: 450px;
  word-wrap: break-word;
}
#product-details-top {
  margin-right: 40px
  width: 450px;
}
#long-description {
  margin-left: 15px
}
#product-img-box img {
  width: 350px;
  width: 350px;
}
#product-show-top {
  margin-bottom: 25px;
}

#login-big-box {
  margin-top: 35px;
  width: 600px;
  border-radius: 6px;
  padding: 20px;
  background-color: #f5f5f5
}
#thanks-box {
  margin-top: 140px;
  margin-right: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  height: 300px;
}
#continue-shopping {
 text-align: center
}
.disabled, .disabled:hover img {
   opacity:1.0;
   border: none;
   background-color: none;
   box-shadow: none;
   text-decoration: none;
   color: white;
}
/************* Categories Index ************ */

#cat_quarter {
    margin-bottom: 20px;
    margin-left: 20px;
}

#cat_box {
    height: 232px;
    width: 200px;
    margin-left: 25px;
    margin-bottom: 15px;
    float: left;
    background-color: #ffffff; 
    border-radius: 6px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    line-height: 200px;
}

#cat_name {
        text-align: center;
        height: 30px;
        width: 200px;
        padding-top: 15px;
        padding-right: 5px;
        line-height: 20px;
        vertical-align: middle;
        position: absolute;
        background: none repeat scroll 0 0 rgba(0,0,0,0.5);
        /*left: 0;*/
        color: #fff;
        font-family: helvetica;
        font-size: 20px;
        z-index:1;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        bottom: 0;
    }

    #cat_name a {
        text-decoration: none;
        font-color: #fff;
        opacity: 1.0;
    } 
    #cat_name a:hover {
       background-color: none;
    }
    #cat_name a:visited {
       color: #fff;
    }

.disabled ,.disabled:hover {
   opacity:1.0;
   box-shadow:none;
}

#pushdown {
  margin-top: 40px;
}

#logo-box {
  width: 250px;
  height: 100px;
}

#product_banner {
  margin-bottom: 20px;
}

#product_detail {
  padding-top: 20px;
}
h2#thanks {
 font-family: 'helvetica', Sans-Serif;
 color: #00577e;
 margin-left: 60px;
}




