// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-left:auto;
  margin-right:auto;
}

.header_nav {
opacity: .93;
background: #fff;
padding-top: 10px;
}

.pull-right {
  float:right;
}

.pull-left {
  float:left;
}

a.logo {
 float: left; 
}

ul#header {
  float: left;
  line-height: 4em;
}
ul#header, li {
display: inline;
list-style-type: none;
padding-left: 4em;
}
