<h1>Categories List</h1>
<% @categories.each_with_index do |cat,i| %>
  <div class="span2" id="<%= i+1 %>" style="height:140px;overflow:hidden;">
    <p><%= link_to(cat.name, category_path(cat)) %></p>
    <%= image_tag cat.photo_url.to_s, :height => "140px" %>
  </div>
<% end %>
