<div class="container">
  <%= image_tag "CatHeader.png" %>
</div>

<!-- <div class="container"> -->
<!-- **************** 1-8 **************** -->

 <!--  <div class="container" id="lander_top_8">
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Carts
      </span>
    </div>

    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Closets
      </span>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Drying
      </span>
    </div>
     <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Garment Racks
      </span>
    </div>
  </div> -->
<!-- **************** 5-8 **************** -->
  <!-- <div class="container" id="lander_top_8">
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Hampers
      </span>
    </div>

    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Hangers
      </span>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Ironing Boards
      </span>
    </div>
     <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Ironing Board Covers
      </span>
    </div>
  </div> -->
<!-- **************** 9-12 **************** -->
 <!--  <div class="container" id="lander_top_8">
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Kitchen Accessories
      </span>
    </div>

    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Laundry
      </span>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Laundry Centers
      </span>
    </div>
     <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Laundry 4 Dummies
      </span>
    </div>
  </div> -->
<!-- **************** 13-16 **************** -->
 <!--  <div class="container" id="lander_top_8">
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Laundry Sorters
      </span>
    </div>

    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Laundry Bag
      </span>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Shelving
      </span>
    </div>
     <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
     Shoe Storage
      </span>
    </div>
  </div> -->

<!-- **************** 17-20 **************** -->
 <!--  <div class="container" id="lander_top_8">
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
         Soft Storage
      </span>
    </div>

    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
        Storage Accessories
      </span>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
        Trash Cans
      </span>
    </div>
     <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
        TV Mount Brackets
      </span>
    </div>
  </div> -->

<!-- **************** 21-24 **************** -->
  <!-- <div class="container" id="lander_top_8">
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Vacuum Storage
      </span>
    </div>

    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
     Wardrobe
      </span>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Utensil Organisers
      </span>
    </div>
     <div class="container" id="bottom_inner_box">
    </div>
  </div>
</div> -->



  <div class="container" id="pushdown">
    
      <% @categories.each_with_index do |cat,i| %>
    <!-- <div class="container" id="cat_quarter"> -->
      <div class="disabled" id="cat_box">
        <span class="disabled" id="cat_name">
        <%= link_to cat.name.capitalize, category_path(cat), :class => "disabled"%>
        </span>
        <%= link_to image_tag(cat.photo_url.to_s, {:height => "140px", :class => "disabled"}), category_path(cat) %>
      </div>
      <!-- </div> -->
    <% end %>
  </div>

</div>









