<div class="container">
  <%= image_tag "CatHeader.png" %>
</div>
  <div class="container" id="pushdown">
      <% @categories.each_with_index do |cat,i| %>
    <!-- <div class="container" id="cat_quarter"> -->
      <div class="disabled" id="cat_box">
        <span class="disabled" id="cat_name">
        <%= link_to cat.name.capitalize, category_path(cat), :class => "disabled"%>
        </span>
        <%= link_to image_tag(cat.photo_url.to_s, {:height => "140px", :class => "disabled"}), category_path(cat) %>
      </div>
      <!-- </div> -->
    <% end %>
  </div>

</div>









