<h1>Categories List</h1>

<div class="">
    <% @categories.each do |cat| %>
    <div class="span6" id="category_<%= cat.id %>", style="height:100px;">
      <div><%= link_to(cat.name, category_path(cat)) %></div>
      <div><%= image_tag cat.photo_url.to_s, :height => "200px" %></div>
    </div>
          
    <% end %>
</div>
