<div class="large-8 columns">
  <h1>Categories List</h1>
  <ul>
    <% @categories.each do |cat| %>
      <li><%= link_to(cat.name, category_path(cat))  %></li>
    <% end %>
  </ul>
</div>

<div class="large-2 columns">
  <%= render partial: "layouts/cart" %>
</div>
