<div class="large-8 columns">

  <h1> <%= @category.name %> </h1>

  <% @category.products.each do |product| %>
    
    <%= link_to(product.title, product_path(product)) %>

  <% end %>
</div>

<div class="large-2 columns">
  <%= render partial: "layouts/cart" %>
</div>
