<div class="container" id="product_banner">
<%= image_tag "product_banner.png" %>
</div>

<div class="container" id="product_detail">

  <h1><%= @category.name.to_s.capitalize %> - <%= @category.products.count %> items</h1>

  <%= render partial: "products/products", :locals => { :products => @category.products } %>

</div>


