<div class="container">

  <h1><%= @category.name.to_s.capitalize %> - <%= @category.products.count %> items</h1>

  <%= render partial: "products/products", :locals => { :products => @category.products } %>

</div>


