<div class="container">
  <% if flash[:red] %>
    <div class="alert alert-danger"><%= flash[:red] %></div>
  <% end %>

  <% if flash[:yellow] %>
    <div class="alert"><%= flash[:yellow] %></div>
  <% end %>
  
  <% if flash[:green] %>
    <div class="alert alert-success"><%= flash[:green] %></div>
  <% end %>
</div>
