<div class="header_nav">
  <div class="pull-left">
    <a class="logo" href="/"><img src="http://www.honeycando.com/images/hcd_logo.gif"></a>
    <ul id="header">
      <li><%= link_to("Products", products_path)%></li>
      <li><%= link_to("Categories", categories_path)%></li>
    </ul>
  </div>
  <div class="pull-right">
    <%= render partial: 'layouts/cart' %>
  </div>
</div>

